# Bazel build options go here

# compile with clang
build --repo_env=CC=/usr/bin/clang

# compile for C++17
build --cxxopt='-std=c++17'

# more compiler checks
build --cxxopt='-Wall'
build --cxxopt='-Wpedantic'

# warnings are errors
build --cxxopt='-Werror'

# debug on Mac OS is broken since 2018 :'D
# https://github.com/bazelbuild/bazel/issues/6327
build --spawn_strategy=local
